// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

$primary-green: #44abac;
$primary-orange: #f39c12;
$primary-grey: #f0f2f1;
$secondary-grey: #ecf0f1;
$primary-blue: #2980b9;

/* === LAYOUT === */
body {
  font-weight: 300;
  // overflow-x: hidden !important
}

/* === NAVBAR === */

#mainNav {
  transition: all 0.35s;
}

#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.1);
  background-color: white;
}
// #mainNav.navbar-shrink .navbar-brand {
//   color: #222222;
// }
#mainNav.navbar-shrink .navbar-nav > li > a,
#mainNav.navbar-shrink .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav.navbar-shrink .navbar-nav > li > a:hover,
#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

section {
  padding: 3rem 0;
}

h2:after {
  display: block;
  height: 4px;
  background-color: $primary-green;
  content: " ";
  width: 70%;
  margin: 1.875rem auto;
}

.site-heading {
  text-align: center;
}

.display-4 {
  font-size: 2rem;
}


/* === FOOTER === */

footer {
  font-size: 0.8rem;
  background-color: #d3d0cb;
  color: darken(#d3d0cb, 30%);
  // padding: 0.5rem 0;
}

.icon-sm {
  padding: 7px 0;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.icon-sm:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
}

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

@import "_home.scss";
@import "_product.scss";
@import "_work.scss";
@import "_process.scss";
@import "_contact.scss";
